* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  color: #F9FFF8;
}

body {
  margin: 0;
  background-color: black;
  color: #F9FFF8;
}

.App {
  text-align: center;
  align-items: center;
  padding: auto;
  justify-content: center;
  display: flex;
}

#calculatorWrap {
  width: 400px;
  border: 1px solid yellowgreen;
  padding-left: auto;
  padding-right: auto;
  align-items: center;
}

#monitor {
  height: 150px;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 80px);
}

.btn {
  width: 80px;
  height: 80px;
  margin: 5px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 30px;
  
}

.btn:hover {
  opacity: 75%;
}

.btn:active {
  opacity: 50%;
}

#zero {
  width: 175px;
  grid-column: span 2;
}

.btn-function {
  background-color: #A5A5A5;
  color:black;
}

.btn-digit {
  background-color: #333333;

}

.btn-operation {
  background-color: #EFA43E;
}